<!-- sec1  -->
<div class="sec1">
    <div class="container py-4">
        <div class="grid mb-6">
            <div class="col-6 col-md-12 w-11 md:w-6">
                <p-inputGroup>
                    <input type="text" pInputText />
                    <button type="button" pButton icon="pi pi-search" class="p-button-warning"></button>
                </p-inputGroup>
            </div>
        </div>
        <div class="flex plan">
            <p-button label="Premium Plan" class="planbtn" />
            <p-button label="Course Enquiry" class="course-btn" />
        </div>
    </div>
</div>

<!-- sec2  -->
<div class="sec2 container grid pb-6">
    <div class="col-12 lg:col-10 m-auto">
        <h1 class="text-center mb-6">Inside the {{currentLang?.replace('-', ' ') | titlecase}}</h1>
        <div>
            <p-tabView [tabindex]="0" (onChange)="tabChange($event)">
                <ng-container *ngFor="let cat of (categories$ | async); let isFirst = first">
                    <p-tabPanel *ngIf="!isFirst" [header]="cat?.name">
                        <div class="grid flex-nowrap lg:flex-wrap overflow-x-scroll lg:overflow-x-hidden no-scrollbar">
                            <div *ngFor="let tab of (tabContent$ | async)" class="col-6 md:col-3 lg:col-2">
                                <div class="card-course text-center">
                                    <span class="tech-count">
                                        {{tab?.[countMap[selectedModule?.route]] || tab?.tutCount}}
                                    </span>
                                    <div class="img-div">
                                        <img src="../../../assets/images/tech/{{tab?.name?.replace(' ', '') | lowercase}}.svg" alt="" class="w-full">
                                    </div>
                                    <h6 class="mt-2 mb-0">{{tab?.name}}</h6>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                </ng-container>
            </p-tabView>
        </div>
        <ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-fc+5g+70-cl-1m" data-ad-client="ca-pub-4361293916080487" data-ad-slot="4005912392"></ins>
        <!-- <ng-adsense [adClient]="'ca-pub-8535817066678874'" [adSlot]="2827221584" data-full-width-responsive="true" style="display:block" data-ad-format="auto"></ng-adsense> -->
        <!-- <ng-adsense class="adsbygoogle my-3" style="display:block;" data-ad-format="auto" data-ad-client="ca-pub-8535817066678874" data-ad-slot="5988138287" data-full-width-responsive="true"></ng-adsense> -->
        <app-template-generator [languageDetails]="(faqs$ | async)?.about"> </app-template-generator>
        <div>
            <h4 class="mt-6 mb-4">Frequently Asked Questions</h4>
            <div class="card flex justify-content-center">s
                <p-accordion [activeIndex]="0">
                    <p-accordionTab *ngFor="let f of (faqContent$| async)" [header]="f?.[0]">
                        <p [innerHtml]="f?.[1]"></p>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
    </div>
</div>
<app-switch-technology></app-switch-technology>