.sec1 {
    background-image: url(../../../assets/images/tech/java.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0px;
}

.sec2 {
    h1 {
        font-size: 28px;
    }
    .tutorial-data {
        line-height: 1.8;
        word-break: break-word;
        font-family: "Open Sans", sans-serif !important;
    }
    .tech-count {
        position: absolute;
        top: 6px;
        right: 10px;
        font-size: 0.7rem;
    }
    .card-course {
        position: relative;
        border: 1px solid #f2f2f2;
        padding: 20px 0px;
        margin-top: 20px;
    }
    .card-course:hover {
        background-color: #ededed;
        cursor: pointer;
        h6,
        .tech-count {
            font-weight: 600;
        }
    }
    .img-div {
        width: 40px;
        height: 40px;
        margin: 0% auto;
    }
}

:host ::ng-deep {
    p-inputGroup {
        .input-btn {
            color: #212529;
            background-color: #e9ecef;
            border: 1px solid #ced4da;
        }
    }
    .plan {
        .p-button {
            border: none;
            padding: 10px 30px;
            color: #fff;
            border-radius: 4px;
            margin: 0px 20px 0px 0px;
            .p-button-label {
                font-weight: 500;
            }
        }
        .planbtn>.p-button {
            background-color: #4673b5;
        }
        .course-btn>.p-button {
            background-color: #d8712b;
        }
    }
    // .p-icon-wrapper {
    //     color: #272727;
    // }
    .p-tabview {
        .p-tabview-nav {
            border-width: 0 0 1px 0;
        }
        .p-tabview-nav-link {
            color: #0d6efd;
            font-weight: 500;
            border-width: 1px;
            border-radius: 0px;
            padding: 0.6rem 1rem;
            margin: 0 0 -0.2px 0;
        }
        .p-highlight {
            .p-tabview-nav-link {
                border-color: #dee2e6;
                color: #1a1b1b;
            }
        }
    }
    .p-accordion {
        .p-accordion-header .p-accordion-header-link {
            color: #272727;
            font-weight: 500;
            justify-content: space-between;
            flex-direction: row-reverse;
            padding: 16px 20px;
        }
        .p-accordion-content {
            padding: 10px 20px;
            line-height: 18px;
        }
    }
    @media only screen and (max-width: 600px) {
        .plan {
            .p-button {
                padding: 10px 15px;
                font-size: 14px;
                margin: 0px 10px 0px 0px;
            }
        }
    }
}