<div class="grid grid-nogutter my-2">
    <div class="col-12 md:col-2">
        <app-tutorial-sidebar [sideBarContent]="sideBarContent$ | async"
            (selectedTopicEmitter)="selectedSubTopic($event)" [subTopics]="topicTitles$ | async"
            (selectedTitleEmitter)="selectedTitle($event)" [selectedLanguage]="selectedLanguage">
        </app-tutorial-sidebar>
    </div>
    <div class="col-12 md:col-8 m-auto px-2">
        <div class="course-search">
            <p-inputGroup>
                <input type="text" pInputText placeholder="Search" />
                <button type="button" pButton icon="pi pi-search" class="p-button-warning"></button>
            </p-inputGroup>
        </div>
        <div class="course-list">
            <h2 class="md:pl-4">Java</h2>
            <div class="grid m-0 tech-grid">
                <div *ngFor="let i of [1, 2, 3, 4, 5, 6]" class="tech-img text-center">
                    <img src="../../../assets/images/tech/java.svg" alt="">
                    <p class="text-sm my-2">Core Java</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-2 flex flex-column gap-2">
        <app-switch-technology [containerType]="false"></app-switch-technology>
        <app-blogs-sidebar></app-blogs-sidebar>
    </div>
</div>
<app-switch-technology [containerType]="true"></app-switch-technology>