.mob-menu {
    bottom: 0;
    position: fixed;
    left: 0;
    z-index: 9999;
    background: #ddd;
    width: 100% !important;
    overflow: hidden;
}

:host ::ng-deep {
    .mob-menu .p-menuitem-text,
    .mob-menu .p-menuitem-icon {
        color: #000;
    }
    // .mob-menu .p-menuitem-text:active {
    //     border-bottom: 2px solid !important;
    // }
    .mob-menu .p-menuitem-icon {
        margin: 0px 0px 8px 0px;
        font-weight: 500;
        font-size: 25px;
        width: 25px;
    }
    .mob-menu .p-menuitem-link {
        flex-direction: column;
    }
    angledownicon {
        display: none;
    }
}