.mob-menu {
    background: #ddd;
}

.mob-menu span:hover {
    p {
        border-bottom: 2px solid;
    }
}

:host ::ng-deep {
    .more-btn .pi {
        font-size: 1.5rem;
    }
    .more-btn .p-menu-overlay {
        min-width: 112px;
        max-width: 280px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        max-height: calc(100vh - 48px);
        border-radius: 4px;
        outline: 0;
        min-height: 64px;
        right: 0px;
        bottom: 58px;
        top: auto !important;
        left: auto !important;
    }
    .more-btn .p-menu .p-submenu-header {
        padding: 0;
    }
}