@mixin btn-properties {
    padding: 11px 35px;
    color: #fff;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: "Poppins", sans-serif, arial;
}

.main-banner {
    background-image: url(../../../assets/images/home-banner.png);
    background-size: cover;
    padding: 12px 0px 97px;
    .sec1btn {
        @include btn-properties;
        background-color: #eb7c34;
        margin-top: 50px;
    }
    h2 {
        font-size: 1.625rem;
    }
}

:host ::ng-deep {
    body,
    .p-component {
        font-family: "Poppins", sans-serif, arial;
    }
    .main-banner {
        .p-inputtext {
            font-size: 14px;
            padding: 10px;
            border: 1px solid #db823c;
        }
        .sec1btn {
            @include btn-properties;
            background-color: #eb7c34;
            margin-top: 50px;
        }
    }
    .sec2 {
        margin-top: -60px;
        overflow-x: auto;
        .p-card {
            box-shadow: 0 0px 1px 0px hsl(216.72deg 46.03% 50.59% / 21%), 0 1px 1px 0 hsl(216.72deg 46.03% 50.59% / 13%), 0 1px 3px 0 hsl(216.72deg 46.03% 50.59% / 18%);
            border-radius: 0%;
            .p-card-content {
                padding: 0;
            }
            .p-card-title {
                font-size: 1rem;
                font-weight: 500;
                color: #000;
            }
        }
        p {
            border-right: 2px solid #4774bb;
            padding-right: 8px;
            margin: 0px 8px 0px 0px;
            color: #4774bb;
        }
        p:last-child {
            border: none;
            margin: 0px;
            padding: 0px;
        }
    }
    .sec3 {
        h3 {
            margin: 24px 0px;
        }
        h6 {
            margin: 16px 10px;
            font-weight: 600;
        }
        .p-card {
            background: #f6fcff;
            box-shadow: none;
            border: 1px solid #0282cf12;
            .p-card-body {
                padding: 0.25rem 1.25rem;
            }
            .p-card-content {
                padding: 0%;
            }
        }
        .p-tabview {
            .p-tabview-nav {
                border-width: 0 0 1px 0;
            }
            .p-tabview-nav-link {
                color: #0d6efd;
                font-weight: 500;
                border-width: 1px;
                border-radius: 0px;
                padding: 0.6rem 1rem;
                margin: 0 0 -0.2px 0;
            }
            .p-highlight {
                .p-tabview-nav-link {
                    border-color: #dee2e6;
                    color: #1a1b1b;
                }
            }
        }
    }
    .sec4 {
        background: #0282cf;
        color: #fff;
        h3 {
            font-size: 1.1rem;
            line-height: 1.5;
            font-weight: 400;
        }
        .p-button {
            padding: 11px 35px;
            font-size: 16px;
            background-color: #1365df;
            border: 1px solid #fff;
            .p-button-label {
                font-weight: 400;
            }
        }
        .p-galleria .p-galleria-item-nav {
            width: 1rem;
            height: 2rem;
        }
    }
    .sec5 {
        background: #4673b5;
        .card {
            padding: 10px;
        }
        h6 {
            color: #000;
        }
    }
    .sec6 {
        .card {
            background-color: #122e46;
            height: calc(100% - 20px);
            margin: 10px 0px;
            padding: 30px 10px 10px;
            color: #fff;
            border-radius: 2px;
        }
        .image-div img {
            width: 60px;
            height: 44px;
            object-fit: contain;
            object-position: center;
        }
    }
    .sec7 {
        background: #313131;
        h2 {
            font-size: 22px;
        }
    }
    .sec7,
    .sec6,
    .sec10btn {
        button {
            @include btn-properties;
            background-color: #db823c;
        }
    }
    .sec8 {
        .sec8btn {
            @include btn-properties;
            background-color: #db823c;
        }
    }
    .sec9 {
        position: relative;
        background: #1a5496;
        img {
            position: absolute;
            bottom: 0px;
            width: 235px;
            left: 12%;
        }
        .p-button {
            padding: 8px 30px;
            border-radius: 4px;
            color: #FFF;
            font-size: 16px;
            font-weight: 400;
            background-color: #0267da;
            border: 1px solid #e0e0e0;
            margin-bottom: 10px;
            .p-button-label {
                font-weight: 400;
            }
        }
    }
    .sec10 {
        .profile-pic {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .linked-in {
            width: 20px !important;
            height: 20px;
        }
    }
    @media only screen and (max-width: 1000px) {
        .sec4 {
            .p-galleria .p-galleria-item-nav {
                margin: 0px -2px;
                .p-icon-wrapper .p-icon {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
        .main-banner {
            .p-button.p-button-icon-only {
                width: 2rem;
                padding: 0.25rem 0;
            }
            .p-button-warning {
                color: #ffffff;
                background: #f97316;
                border: 1px solid #f97316;
            }
        }
    }
}

.review-para {
    height: 150px;
    line-height: 26px;
    font-size: 14px;
}

@media only screen and (max-width: 1000px) {
    .review-para {
        line-height: 18px;
    }
}

@media only screen and (max-width: 600px) {
    .main-banner {
        padding: 12px 0px 62px;
        background-position: bottom;
        h4 {
            font-size: 18px;
            margin: 0px;
        }
        .sec1btn {
            margin-top: 0px;
            padding: 9px 15px;
            font-size: 12px;
        }
    }
}