<div class="course-search">
    <p-inputGroup>
        <input type="text" pInputText placeholder="Search" />
        <button type="button" pButton icon="pi pi-search" class="p-button-warning"></button>
    </p-inputGroup>
</div>

<div class="flex align-items-center justify-content-between my-3">
    <div class="flex justify-content-center">
        <i class="pi pi-home text-lg mr-4"></i>
        <p class="font-semibold text-lg m-0">Tutorial</p>
    </div>
    <div class="flex justify-content-center">
        <p-button (click)="changePage(-1)" styleClass="mr-2 p-2" label="Prev" icon="pi pi-angle-left" iconPos="left"
            [outlined]="true" severity="secondary" />
        <p-button (click)="changePage(1)" label="Next" styleClass="p-2" icon="pi pi-angle-right" [outlined]="true"
            iconPos="right" severity="secondary" />
    </div>
</div>

<app-template-generator [languageDetails]="(topicContent$ | async)?.contents"
    [videoId]="(topicContent$ | async)?.videoId">
</app-template-generator>

<div class="flex align-items-center justify-content-between my-3">
    <div class="flex align-items-center justify-content-center">
        <p class="text-lg m-0 mr-2">Article helpful?</p>
        <p-button styleClass="mr-2 p-2" label="Yes" iconPos="left" [outlined]="true" severity="success" />
        <p-button label="No" styleClass="p-2" [outlined]="true" iconPos="right" severity="danger" />
    </div>
    <div class="flex justify-content-center">
        <p-button (click)="changePage(-1)" styleClass="mr-2 p-2" label="Prev" icon="pi pi-angle-left" iconPos="left"
            [outlined]="true" severity="secondary" />
        <p-button (click)="changePage(1)" label="Next" styleClass="p-2" icon="pi pi-angle-right" [outlined]="true"
            iconPos="right" severity="secondary" />
    </div>
</div>