<div class="flex align-items-center justify-content-between w-100 top-nav">
    <div class="lg:flex hidden justify-content-between">
        <img [routerLink]="'/'" class="cursor-pointer mr-5" width="180" src="assets/images/logo.png" alt="" />

        <div class="relative flex">
            <div (click)="showOverlay = !showOverlay" [ngClass]="{'left-nav-bg': showOverlay}"
                class="flex justify-content-center align-items-center cursor-pointer px-3 border-round-sm cate-overlay-btn">
                <i *ngIf="!(selectedLanguage$ | async) || (isHomePage$ | async)"
                    class="pi pi-microsoft text-lg mr-2"></i>
                <img class="mr-2" *ngIf="(selectedLanguage$ | async) && !(isHomePage$ | async)" width="25" height="25"
                    src="assets/images/language/{{selectedLanguage$ | async}}.svg" alt="language" />
                <p class="text-sm m-0">Categories</p>
            </div>

            <!-- Overlay Panel -->
            <div *ngIf="showOverlay" class="absolute bg-white border border-300 shadow-2 categories-overlay-panel">
                <div class="container-size flex ">
                    <!-- Left Section:: START -->
                    <div class="col-4 left-nav-bg p-0 left-nav">
                        <div (mouseover)="changeMenuItems(index)" *ngFor="let menu of menus; let index = index"
                            class="col-12 cursor-pointer hover:bg-white hover:text-gray-900 left-nav-menu"
                            [ngClass]="{'bg-white': selectedIndex === index}">
                            {{menu?.name}}
                        </div>
                    </div>
                    <!-- Left Section:: End -->

                    <!-- Right Section:: START -->
                    <div class="col-8 grid align-content-start m-0">
                        <div (click)="goToSelectedRoute(menu?.icon)" *ngFor="let menu of currentMenu?.menuItems"
                            class="col-3">
                            <p-card
                                [styleClass]="'shadow-none cursor-pointer border-round-sm hover:bg-gray-100 hover:font-bold'">
                                <ng-template pTemplate="content">
                                    <div class="flex gap-1 p-2 align-items-center flex-column justify-content-center">
                                        <div class="mb-2 md:mb-0 flex align-items-center justify-content-center">
                                            <img width="35" height="35" src="assets/images/language/{{menu?.icon}}.svg"
                                                alt="language">
                                        </div>
                                        <p class="text-sm text-center m-0">{{menu?.name}}</p>
                                    </div>
                                </ng-template>
                            </p-card>
                        </div>
                    </div>
                    <!-- Right Section:: END -->
                </div>
            </div>
        </div>
    </div>

    <div class="flex lg:hidden justify-content-between">
        <img [routerLink]="'/'" class="cursor-pointer w-2rem mr-2" src="assets/images/tech99.png" alt="" />
        <div (click)="categorySideMenu = !categorySideMenu" [ngClass]="{'left-nav-bg': categorySideMenu}"
            class="flex justify-content-center align-items-center cursor-pointer px-3 border-round-sm cate-overlay-btn">
            <i *ngIf="!(selectedLanguage$ | async) || (isHomePage$ | async)" class="pi pi-microsoft text-lg mr-2"></i>
            <img class="mr-2" *ngIf="(selectedLanguage$ | async) && !(isHomePage$ | async)" width="25" height="25"
                src="assets/images/language/{{selectedLanguage$ | async}}.svg" alt="language" />
            <p class="text-sm m-0">Categories</p>
        </div>
    </div>

    <div class="lg:flex gap-3 hidden">
        <p-button styleClass="border-1 border-gray-300 border-round-sm" label="Enquiry" [text]="true"></p-button>

        <div (click)="onNavSelect(action?.name, action?.route)" *ngFor="let action of navActions"
            class="flex flex-column align-items-center justify-content-center gap-2 cursor-pointer nav-tabs">
            <i [class]="action?.icon"></i>
            <p class="m-0 p-0 text-xs">{{ action?.name }}</p>
        </div>
    </div>
    <div class="flex lg:hidden">
        <i class="pi pi-search mr-3"></i>
        <i (click)="openLoginModal()" class="pi pi-user"></i>
    </div>
</div>


<p-sidebar [(visible)]="categorySideMenu">
    <ng-template pTemplate="header">
        <div class="flex align-items-center justify-content-between">
            <div class="flex align-items-center p-2 flex-1 cursor-pointer">
                <i class="pi pi-microsoft text-lg mr-2"></i>
                <p class="m-0 text-base">Categories</p>
            </div>

        </div>
    </ng-template>
    <div class="panel-menu h-full">
        <p-panelMenu [model]="categoryPanelMenu" [multiple]="true" styleClass="w-full text-sm border-noround">
            <ng-template pTemplate="item" let-item>
                <a pRipple class="flex align-items-center px-3 py-2 cursor-pointer">
                    <i [class]="item?.icon + ' font-bold text-xs text-gray-600'"></i>
                    <span class="ml-2 text-sm">
                        {{ item?.label }}
                    </span>
                    <span *ngIf="item?.items" class="ml-auto surface-border 
                        border-round text-xs p-1">
                        <i class="pi pi-angle-down"></i>
                    </span>
                </a>
            </ng-template>
        </p-panelMenu>
    </div>
</p-sidebar>