<div class="flex flex-column align-items-center secondary-blue p-4">
  <div class="w-10 flex justify-content-around text-white">
    <div class="flex flex-column gap-3">
      <h3>Company</h3>
      <p class="m-0 p-0">About Us</p>
      <p class="m-0 p-0">Our Team</p>
      <p class="m-0 p-0">Contact Us</p>
    </div>
    <div class="flex flex-column gap-3">
      <h3>Learn Through</h3>
      <p class="m-0 p-0">Tutorials</p>
      <p class="m-0 p-0">MCQs</p>
      <p class="m-0 p-0">Interview Questions</p>
      <p class="m-0 p-0">Code Solutions</p>
      <p class="m-0 p-0">Online Test</p>
    </div>
    <div class="flex flex-column gap-3">
      <h3>Master Course</h3>
      <p class="m-0 p-0">Full Stack Program</p>
      <p class="m-0 p-0">Self Paced Course</p>
      <p class="m-0 p-0">Verify Certificate</p>
    </div>
    <div class="flex flex-column gap-3">
      <h3>For Business</h3>
      <p class="m-0 p-0">Corporate Training</p>
      <p class="m-0 p-0">Hiring Talent</p>
    </div>
    <div class="flex flex-column gap-3">
      <h3>Work with us</h3>
      <p class="m-0 p-0">Apply for writer</p>
      <p class="m-0 p-0">Become an instructor</p>
    </div>
    <div class="flex flex-column gap-3">
      <h3>Quick Contacts</h3>
      <p class="m-0 p-0">+91 7020568963</p>
    </div>
  </div>
  <div class="flex justify-content-center text-white align-items-center mt-5">
    <small class="font-semibold">
      &#64; 2021-2022 - Microweb Systems, All Right Reserved.
    </small>
  </div>

  <hr class="my-4 text-gray-400 w-full" />
  <div class="flex text-white flex-column gap-2">
    <h3 class="m-0">Desclaimer</h3>
    <p class="m-0">
      All trademarks, logos and brand names are the property of their respective
      owners. All company, product and service names used in this website are
      for identification purposes only. Use of these names, trademarks and
      brands does not imply endorsement.
    </p>
  </div>
</div>
