<div class="footer secondary-blue pt-4">
    <div class="container border-bottom-1 border-200 mb-2">
        <div class="grid">
            <div class="col-6 md:col-4 lg:col-2 line-height-2">
                <h2 class=" font-semibold">Company</h2>
                <p>About Us</p>
                <p>Our Team</p>
                <p>Contact Us</p>
            </div>
            <div class="col-6 md:col-4 lg:col-2 line-height-2">
                <h2 class=" font-semibold">Learn Through</h2>
                <p>Tutorials</p>
                <p>MCQs</p>
                <p>Interview Questions</p>
                <p>Code Solutions</p>
                <p>Online Test</p>
            </div>
            <div class="col-6 md:col-4 lg:col-2 line-height-2">
                <h2 class=" font-semibold">Master Course</h2>
                <p>Full Stack Program</p>
                <p>Self Paced Course</p>
                <p>Verify Certificate</p>
            </div>
            <div class="col-6 md:col-4 lg:col-2 line-height-2">
                <h2 class=" font-semibold">For Business</h2>
                <p>Corporate Training</p>
                <p>Hiring Talent</p>
            </div>
            <div class="col-6 md:col-4 lg:col-2 line-height-2">
                <h2 class=" font-semibold">Work with us</h2>
                <p>Apply for writer</p>
                <p>Become an instructor</p>
            </div>
            <div class="col-6 md:col-4 lg:col-2 line-height-2">
                <h2 class=" font-semibold">Quick Contacts</h2>
                <p>+91 7020568963</p>
            </div>
        </div>
        <div>
            <ul class="flex align-items-center text-primary justify-content-center p-0">
                <li class="line-height-2">Terms of Use</li>
                <li class="line-height-2">Privacy Policy</li>
                <li class="line-height-2">Refund Policy</li>
                <li class="line-height-2">Cookie Policy</li>
            </ul>
        </div>
        <p class="text-center">2021-2022 - Microweb Systems, All Right Reserved.</p>
    </div>
    <div class="container pt-0">
        <h2 style="color: #f5f5f5ba;">Desclaimer</h2>
        <p>
            All trademarks, logos and brand names are the property of their respective owners. All company, product and service names used in this website are for identification purposes only. Use of these names, trademarks and brands does not imply endorsement.
        </p>
    </div>
</div>