<!-- sec1  -->
<div class="sec1">
    <div class="container py-4">
        <div class="grid mb-6">
            <div class="col-6 col-md-12 w-11 md:w-6">
                <p-inputGroup>
                    <input type="text" pInputText />
                    <button type="button" pButton icon="pi pi-search" class="input-btn"></button>
                </p-inputGroup>
            </div>
        </div>
        <div class="flex plan">
            <p-button label="Premium Plan" class="planbtn" />
            <p-button label="Course Enquiry" class="course-btn" />
        </div>
    </div>
</div>

<!-- sec2  -->
<div class="sec2 container grid pb-6">
    <div class="col-12 lg:col-10 m-auto">
        <h1 class="text-center mb-6">Inside the Java</h1>
        <div>
            <p-tabView>
                <p-tabPanel header="Tutorial">
                    <div class="grid flex-nowrap lg:flex-wrap overflow-x-scroll lg:overflow-x-hidden no-scrollbar">
                        <div *ngFor="let i of [1, 2, 3, 4, 5, 6]" class="col-6 md:col-3 lg:col-2">
                            <div class="card-course text-center">
                                <span class="tech-count">
                                    223
                                </span>
                                <div class="img-div">
                                    <img src="../../../assets/images/tech/java.svg" alt="" class="w-full">
                                </div>
                                <h6 class="mt-2 mb-0">Core Java</h6>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="MCQ">
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    </p>
                </p-tabPanel>
                <p-tabPanel header="Interview">
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos
                    </p>
                </p-tabPanel>
                <p-tabPanel header="MCQ">
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    </p>
                </p-tabPanel>
                <p-tabPanel header="Interview">
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos
                    </p>
                </p-tabPanel>
                <p-tabPanel header="Coding">
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    </p>
                </p-tabPanel>
                <p-tabPanel header="Quiz">
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos
                    </p>
                </p-tabPanel>
                <p-tabPanel header="Blog">
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos
                    </p>
                </p-tabPanel>
            </p-tabView>
        </div>
        <p class="tutorial-data text-base">Java is general purpose computer programming language. It is high level, object oriented, secure, robust and platform independent language. It is intentionally designed that developers can Write Once, Run Anywhere, means compiled code can run
            on all platform without recompilation. Java compilers generate *.class file that contains byte code and can run on any Java Virtual Machine.</p>
        <div>
            <h4 class="mt-6 mb-4">Frequently Asked Questions</h4>
            <div class="card flex justify-content-center">
                <p-accordion [activeIndex]="0">
                    <p-accordionTab header="What is Java Language? ">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </p-accordionTab>
                    <p-accordionTab header="Why need to learn Java ?">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
                        </p>
                    </p-accordionTab>
                    <p-accordionTab header="Why Java is so popular among all programming languages ?">
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui.
                        </p>
                    </p-accordionTab>
                    <p-accordionTab header="What is the career growth in Java technology ?">
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui.
                        </p>
                    </p-accordionTab>
                    <p-accordionTab header="Where Java technology is acually used ?">
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui.
                        </p>
                    </p-accordionTab>
                    <p-accordionTab header="Are there any chanlages  to become a Java Programmer?">
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui.
                        </p>
                    </p-accordionTab>
                    <p-accordionTab header="Do we need any training to learn Java ?">
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui.
                        </p>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
    </div>
</div>

<section class="grid bg-blue-50">
    <div class="container col-12" style="display: grid; place-content: center;">
        <h2 class="text-center font-medium">Switch Technology</h2>
        <div class="mb-3">
          <app-switch-technology></app-switch-technology>
        </div>
    </div>
</section>