<!-- sec1  -->
<div class="sec1 grid m-0 pt-2 pb-6">
    <div class="col-12 md:col-3">
        <!-- add left Navbar here  -->
    </div>
    <div class="col-12 md:col-6">
        <div class="course-search">
            <p-inputGroup>
                <input type="text" pInputText placeholder="Search" />
                <button type="button" pButton icon="pi pi-search" class="p-button-warning"></button>
            </p-inputGroup>
        </div>
        <div class="course-list">
            <h2 class="md:pl-3">Java</h2>
            <div class="grid m-0 tech-grid">
                <div *ngFor="let i of [1, 2, 3, 4, 5, 6]" class="tech-img text-center">
                    <img src="../../../assets/images/tech/java.svg" alt="">
                    <p class="text-sm my-2">Core Java</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-3">
        <!-- add Blog component here  -->
    </div>
</div>

<!-- switch technology sec  -->
<app-switch-technology></app-switch-technology>