<div class="course-search">
    <p-inputGroup>
        <input type="text" pInputText placeholder="Search" />
        <button type="button" pButton icon="pi pi-search" class="p-button-warning"></button>
    </p-inputGroup>
</div>
<div class="course-list">
    <h2 class="md:pl-4">{{selectedLanguage?.replace('-', ' ') | titlecase}}</h2>
    <div class="flex gap-3 flex-wrap">
        <div *ngFor="let topic of (sideBarContent$ | async)?.techs" (click)="openTopic(topic)"
            class="tech-img text-center">
            <img src="../../../assets/images/tech/{{topic?.name?.replace(' ', '') | lowercase}}.svg" alt="">
            <p class="text-sm my-2">{{topic?.name}}</p>
        </div>
    </div>
</div>